@model Constructora

@{
    ViewData["Title"] = "Modificar Constructora";

}

<h2>Modificar constructora @Model.Nombre</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Constructoras" asp-action="ModificarConstructora">
    <input type="number" asp-for="IdConstructora" hidden />
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre: </label>
        <input type="text" asp-for="Nombre" class="form-control" value="@Model.Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Rfc" class="form-label">RFC: </label>
        <input type="text" asp-for="Rfc" class="form-control" value="@Model.Rfc" />
        <span asp-validation-for="Rfc" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Telefono" class="form-label">Telefono: </label>
        <input type="number" asp-for="Telefono" class="form-control" value="@Model.Telefono" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CorreoContacto" class="form-label">Correo de contacto: </label>
        <input type="text" asp-for="CorreoContacto" class="form-control" value="@Model.CorreoContacto" />
        <span asp-validation-for="CorreoContacto" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Modificar</button>
</form>

<a class="btn btn-secondary" asp-controller="Constructoras" asp-action="Listaconstructoras">Cancelar</a>
<a class="btn btn-primary" onclick="restablecerValores()">Reestablecer</a>

<script>
    function restablecerValores() {
        var nombre = "@Html.Raw(Model.Nombre)";
        var rfc = "@Html.Raw(Model.Rfc)";
        var telefono = "@Html.Raw(Model.Telefono)";
        var correoContacto = "@Html.Raw(Model.CorreoContacto)";

        document.getElementById("Nombre").value = nombre;
        document.getElementById("Rfc").value = rfc;
        document.getElementById("Telefono").value = telefono;
        document.getElementById("CorreoContacto").value = correoContacto;
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}